.marker-container {
  cursor: auto;
  position: absolute;
  width: 0;
  height: 0;

  .marker {
    display: block;
    background-color: transparent;
    transform: translate(-50%, -100%);
    border-radius: 6px;

    &:focus-visible {
      box-shadow: var(--accessibility-shadow-marker);
    }

    .pin {
      display: block;
      width: 33px;
      height: 52px;
    }
  }
}

.info-window-container {
  cursor: auto;
  position: absolute;
  width: 0;
  height: 0;
  filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.37));

  .info-window-anchor:after, .info-window {
    background-color: white;
  }

  .info-window-anchor {
    position: absolute;
    bottom: 65px; // 52px (pin height) + 12px (info window arrow height) + 1px (spacing)
    left: 0;
    width: 100vw;
    height: 0;

    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 12px;
      width: 23px;
      transform: translateX(-50%);
      clip-path: polygon(0 0, 50% 100%, 100% 0);
    }
  }

  .info-window {
    position: absolute;
    box-sizing: border-box;
    bottom: 0;
    left: 0;
    min-width: 80px;
    transform: translateX(-50%);
    border-radius: 8px;

    .info-window-viewport {
      --scrollbar-width: 14px;
      --content-padding: 18px 15px;
    }

    .button {
      position: absolute;
      z-index: 100;
      top: 0;
      right: 2px;
      display: flex;
      background-color: transparent;
      color: #888;
      text-align: center;
      border-radius: 0;
      width: 22px;
      height: 22px;
      align-items: center;
      justify-content: center;

      .material-icons {
        font-size: 20px;
      }

      &:hover, &:focus {
        color: #000;
      }

      &:focus-visible {
        box-shadow: var(--accessibility-shadow-info-window);
      }
    }

    .minimize-button, .maximize-button {
      right: 25px;

      .material-icons {
        font-size: 22px;
      }
    }

    .maximize-button {
      display: none;
    }

    .content {
      max-width: 400px;
      font-size: 16px;
      font-weight: 300;

      > .permalink {
        display: block;
        margin: 2px 0;
        padding-right: 6px;
        border-radius: 2px;

        &:focus-visible {
          box-shadow: var(--accessibility-shadow-info-window);
        }

        .title {
          display: inline;
          margin: 0;
          font-size: 20px;
        }

        .material-icons {
          color: #ccc;
          margin-top: -4px;
          vertical-align: middle;
          font-size: 20px;
        }

        &:hover, &:focus {
          .material-icons {
            color: #888;
          }
        }
      }

      > .description {
        margin: 0;
        margin-top: 18px;
        font-size: 16px;
        line-height: 1.4;

        .material-icons {
          font-size: 16px;
          vertical-align: middle;
          margin-top: -1px;
        }

        a {
          color: #1a0dab;
          border-radius: 2px;

          &:focus-visible {
            box-shadow: var(--accessibility-shadow-info-window);
          }

          &:hover, &:focus {
            text-decoration: underline;
          }

          .material-icons {
            color: #d7d3ff;
            margin-left: 4px;
          }
        }
      }

      > .trails {
        margin-top: 18px;

        .trail:not(:last-child) {
          margin-bottom: 14px;
        }

        .name {
          font-size: 16px;
          margin: 0 0 7px;
          line-height: 20px;
        }

        .starting-point {
          margin-right: 4px;
        }

        .select-trail {
          display: inline-flex;
          min-width: 44px;
          min-height: 26px;
          padding: 3px 8px;
          line-height: 20px;
          border-radius: 2px;
          align-items: center;
          justify-content: center;
          vertical-align: middle;

          &:focus-visible {
            box-shadow: var(--accessibility-shadow-info-window);
          }
        }

        .topology {
          margin: 0;
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-gap: 8px;

          @media (max-width: 375px) {
            grid-template-columns: repeat(1, 1fr);
          }
        }

        .material-icons {
          font-size: 18px;
          vertical-align: middle;
          margin-top: -1px;
        }

        .length {
          .material-icons {
            color: #9810c9;
          }
        }

        .duration {
          .material-icons {
            color: #f29224;
          }
        }

        .min-elevation {
          .material-icons {
            color: #00c6ff;
          }
        }

        .max-elevation {
          .material-icons {
            color: #000;
          }
        }

        .positive-elevation {
          .material-icons {
            color: #e30e0e;
          }
        }

        .negative-elevation {
          .material-icons {
            color: #59c24e;
          }
        }
      }

      > .photospheres {
        margin-top: 18px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 8px 12px;

        @media (max-width: 375px) {
          grid-template-columns: repeat(2, 1fr);
        }

        .name {
          font-size: 16px;
          margin: 0;
        }

        .select-photosphere {
          padding: 3px 8px;
          line-height: 20px;
          border-radius: 2px;
          border-radius: 2px;

          &:focus-visible {
            box-shadow: var(--accessibility-shadow-info-window);
          }
        }
      }
    }
  }

  &.minimized {
    filter: none;
    color: #000;
    text-shadow: 0 0 2px white;

    .info-window-anchor:after, .info-window {
      background-color: rgba(255, 255, 255, 0.66);
    }

    .info-window {
      display: grid;
      align-content: center;
      align-items: center;
      justify-content: center;
      grid-template: "content action" 1fr / 1fr min-content;
      gap: 8px;
      padding: 8px 6px 8px 14px;

      .info-window-viewport {
        --content-padding: 0;
      }

      .minimize-button, .close-button {
        display: none;
      }

      .maximize-button {
        grid-area: action;
        display: flex;
        position: initial;
        color: #666;
        text-shadow: 0 0 2px white;
        &:hover, &:focus {
          color: #000;
        }
      }

      .content {
        grid-area: content;

        > * {
          display: none;
        }

        > .permalink {
          display: block;
          padding: 0;
          margin: 0;

          .title {
            font-size: 16px;
          }

          .material-icons {
            display: none;
          }
        }
      }
    }
  }
}
