@font-face {
  font-family: 'Map Icons';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/map-icons.eot');
  src: url('/assets/fonts/map-icons.eot#iefix') format('embedded-opentype'),
       url('/assets/fonts/map-icons.ttf') format('truetype'),
       url('/assets/fonts/map-icons.woff') format('woff'),
       url('/assets/fonts/map-icons.svg?#map-icons') format('svg');
}

:host {
  display: flex;
  position: fixed;
  overflow: hidden;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.filters {
  display: none;
  flex: 0 0 370px;
  position: relative;
  z-index: 1;
  overflow: auto;
  overscroll-behavior: none;
  width: 0;
  height: 100%;
  background-color: #fff;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);

  &.displayed {
    display: block;

    @media (max-width: 750px) {
      flex: 1 1 100%;

      + .map-container {
        display: none;
      }
    }
  }

  h2 {
    margin-bottom: 0.5em;

    .material-icons {
      vertical-align: middle;
      margin-top: -4px;
    }
  }

  label {
    cursor: pointer;
    display: block;
    line-height: 1.5em;
  }

  input {
    display: inline-block;
    width: auto;
    margin-right: 0.4em;

    &:disabled + .label {
      opacity: 0.5;
    }
  }

  .seasons {
    grid-area: seasons;
    padding: 20px 20px 10px;
  }

  .features {
    grid-area: features;
    padding: 10px 20px;
  }

  .categories {
    grid-area: categories;
    padding: 10px 20px 20px;

    .check-all {
      margin-right: 5px;
    }

    .check-all, .uncheck-all {
      background-color: #f6f6f6;
      padding: 6px 6px 6px 10px;
      margin-bottom: 5px;
      line-height: 24px;
      border-radius: 4px;

      &:hover, &:active {
        background-color: #ebebeb;
        color: #000;
      }

      .material-icons {
        vertical-align: middle;
        margin-top: -1px;
      }
    }

    .icon {
      font-family: 'Map Icons';
      border: 1px solid #000;
      padding: 2px;
      margin: 0 4px 0 2px;
      border-radius: 4px;
    }

    .count {
      margin-left: 2px;
      font-size: 0.8em;
      color: #bbb;
    }
  }
}

::ng-deep {

  .content {
    max-width: 350px;
    min-height: 19px;
    font-size: 13px;

    > .permalink {
      display: block;
      margin: 2px 0;
      padding-right: 6px;

      .title {
        display: inline;
        margin: 0;
        font-size: 16px;
      }

      .material-icons {
        opacity: 0.5;
        color: #bbb;
        margin-top: -4px;
        vertical-align: middle;
        font-size: 20px;
      }

      &:hover .material-icons {
        opacity: 1;
      }
    }

    > .description {
      margin: 0;
      margin-top: 16px;
    }

    > .trails {
      margin-top: 16px;

      .trail:not(:last-child) {
        margin-bottom: 6px;
      }

      .name {
        font-size: 13px;
        margin: 0 0 4px;
        line-height: 18px;
      }

      .select-trail {
        min-width: 30px;
        padding: 2px;
        line-height: 19px;
        border-radius: 2px;
      }

      .topology {
        margin: 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 2px 6px;
      }

      .material-icons {
        margin-top: -4px;
        vertical-align: middle;
        font-size: 14px;
      }

      .length {
        .material-icons {
          color: #9810c9;
        }
      }

      .duration {
        .material-icons {
          color: #f29224;
        }
      }

      .min-elevation {
        .material-icons {
          color: #00c6ff;
        }
      }

      .max-elevation {
        .material-icons {
          color: #000;
        }
      }

      .positive-elevation {
        .material-icons {
          color: #e30e0e;
        }
      }

      .negative-elevation {
        .material-icons {
          color: #59c24e;
        }
      }
    }

    > .photospheres {
      margin-top: 16px;

      .photosphere:not(:last-child) {
        margin-bottom: 6px;
      }

      .name {
        font-size: 13px;
        margin: 0;
      }

      .select-photosphere {
        min-width: 30px;
        padding: 2px;
        line-height: 19px;
        border-radius: 2px;
      }
    }
  }
}

.map-container {
  flex: 1 1 auto;
  position: relative;
  width: 100%;
  height: 100%;
}

.map {
  width: 100%;
  height: 100%;
}

.toggle-filters-button {
  position: absolute;
  bottom: 24px;
  left: 10px;
  font-size: 18px;
  background-color: #fff;
  padding: 15px;
  padding-left: 13px;
  border-radius: 4px;
  box-shadow: 0 1px 4px -1px rgb(0 0 0 / 30%);

  &:hover, &:active {
    background-color: #ebebeb;
    color: #000;
  }

  .material-icons {
    vertical-align: middle;
    margin-top: -2px;
    line-height: 15px;
  }
}

.close-filters-button {
  display: none;
  position: sticky;
  bottom: 0;
  width: 100%;
  font-size: 18px;
  background-color: #fff;
  padding: 15px;
  padding-left: 13px;
  border-top: 1px solid rgb(0 0 0 / 30%);

  &:hover, &:active {
    background-color: #ebebeb;
    color: #000;
  }

  @media (max-width: 750px) {
    display: block;
  }

  .material-icons {
    vertical-align: middle;
    margin-top: -2px;
    line-height: 15px;
  }
}

.photosphere {
  position: absolute;
  z-index: 100;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #e5e3df;

  .iframe {
    width: 100%;
    height: 100%;
  }

  .close-photosphere-button {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 15px;
    padding-right: 12px;
    border-radius: 4px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);

    .material-icons {
      vertical-align: middle;
      color: #f00;
      margin-top: -2px;
      line-height: 15px;
      text-shadow: 0 0 1px #000;
    }
  }
}
