<div class="photosphere" [hidden]="!photosphere" (keydown)="keyPressPhotosphere($event)">
  <button class="close-photosphere-button" type="button" (click)="closePhotosphere()" aria-label="Fermer la photo">
    Fermer
    <span class="material-icons" aria-hidden="true">close</span>
  </button>
  @if (photosphere) {
    <iframe class="iframe" [src]="photosphere" allowfullscreen></iframe>
  }
</div>

<form class="filters" [hidden]="!displayFilters || !!photosphere" [formGroup]="filtersForm" (keydown)="keyPressForm($event)">
  <ng-container>

    <div class="seasons">
      <h2 class="title">
        <span class="material-icons" aria-hidden="true">thermostat</span>
        Saison :
      </h2>
      @for (season of seasons | keyvalue:compareKeepOrder; track season.key) {
        <label>
          <input type="radio" formControlName="season" [value]="season.key">
          <span class="label">{{ season.value.label }}</span>
        </label>
      }
    </div>

    <div class="features" formGroupName="features">
      <h2>
        <span class="material-icons" aria-hidden="true">auto_awesome</span>
        Caractéristiques :
      </h2>
      @for (feature of features | keyvalue:compareKeepOrder; track feature.key) {
        <label>
          <input type="checkbox" [formControlName]="feature.key">
          <span class="label">{{ feature.value.label }}</span>
        </label>
      }
    </div>

    <div class="categories" formGroupName="categories">
      <h2>
        <span class="material-icons" aria-hidden="true">sell</span>
        Catégories :
      </h2>
      <button class="check-all" type="button" (click)="checkAllCategories(true)">
        Tout cocher
        <span class="material-icons" aria-hidden="true">check_box</span>
      </button>
      <button class="uncheck-all" type="button" (click)="checkAllCategories(false)">
        Tout décocher
        <span class="material-icons" aria-hidden="true">check_box_outline_blank</span>
      </button>
      @for (pin of pins | keyvalue:comparePin; track pin.key) {
        <label>
          <input type="checkbox" [formControlName]="pin.key">
          <span class="icon" aria-hidden="true" [style.backgroundColor]="pin.value.fillColor" [style.color]="pin.value.textColor">{{ pin.value.icon }}</span>
          <span class="label">{{ pin.value.label }}</span>
          <span class="count">({{ pointOfInterestCountByPinType[pin.key] }})</span>
        </label>
      }
    </div>

    <button class="close-filters-button" type="button" (click)="toggleFilters()" aria-label="Masquer les filtres des Points d'Intérêts">
      Valider
      <span class="material-icons" aria-hidden="true">done</span>
    </button>

  </ng-container>
</form>

<div class="map-container" [hidden]="!!photosphere">
  <button class="toggle-filters-button" type="button" (click)="toggleFilters()" [attr.aria-label]="displayFilters ? 'Masquer les filtres des Points d\'Intérêts' : 'Afficher les filtres des Points d\'Intérêts'">
    <span class="material-icons" aria-hidden="true">
      {{ displayFilters ? 'chevron_left' : 'search' }}
    </span>
    Filtres
  </button>
  <button class="center-button" type="button" (click)="centerMapOnAllPOIs()" aria-label="Recenter la carte sur tous les Points d'Intérêts actuellement affichés">
    <span class="material-icons" aria-hidden="true">adjust</span>
    Centrer
  </button>
  <div class="map" #mapElement [class.loading]="!mapLoaded"></div>
</div>

<!-- TODO : use this to transform "svg pin + icon font" markers to simple "webp" markers -->
<!-- <div class="pins source">
  @for (pin of pins | keyvalue:comparePin; track pin.key) {
    <div class="pin" [attr.data-name]="pin.key">
      <img class="marker" src="/img/pins/{{ pin.value.color }}.svg">
      <span class="label" [style.font-size]="pin.value.fontSize" [style.color]="pin.value.textColor" [style.line-height]="pin.value.lineHeight">{{ pin.value.icon }}</span>
    </div>
  }
</div>
<div class="pins target"></div> -->
