@use 'styles/reset';
@use 'styles/google-maps';

@font-face {
  font-family: 'Map Icons';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url('/fonts/map-icons.woff2') format('woff2');
}

:root {
  --accessibility-shadow-marker: 0 0 0 3px #fff, 0 0 0 7px #000, 0 0 0 9px #fff;
  --accessibility-shadow-info-window: 0 0 0 2px #fff, 0 0 0 4px #000, 0 0 0 5px #fff;
  --accessibility-shadow-button: 0 0 0 3px #000, 0 0 0 6px #fff;
  --accessibility-shadow-input: 0 0 0 2px #fff, 0 0 0 5px #000;
}

body {
  color: #1f1f1f;
  background-color: #e5e3df;
}

button {
  background-color: #eee;
  color: #1f1f1f;

  &:disabled {
    background-color: #eee;
  }
}
